@charset "utf-8";
body {
    text-align: center;
    background: skyblue;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
}

h1 {
    color: hsl(333, 61%, 72%);
}

#result {
    font-size: 36px;
    color: #009688;
}